---
http_interactions:
- request:
    method: get
    uri: https://web.timeedit.se/chalmers_se/db1/public/r.html?fe=0&h=t&objects=192324.186&ox=0&p=20120312.x,20120518.x&sid=3&types=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: The request has succeeded
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - ! '"120-1490967495-1334675755668"'
      X-Timeedit-Search:
      - 130ms
      Content-Disposition:
      - inline; filename="TimeEdit_4241D_2012-04-21_16_23.html"
    body:
      encoding: ASCII-8BIT
      string: ! "<!DOCTYPE html>\n  <html>\n  <head>\n<meta name=\"robots\" content=\"noindex,
        nofollow\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n<meta
        http-equiv=\"Content-Style-Type\" content=\"text/css\">\n<meta http-equiv=\"Content-type\"
        content=\"text/html;charset=UTF-8\">\n<meta id=\"iosviewport\" name = \"viewport\"
        content = \"width = 480\"><title>TimeEdit Chalmers</title>\n<link rel=\"stylesheet\"
        href=\"/static/201204171554233/css/min.css\" type=\"text/css\">\n<style type=\"text/css\">\n
        \  #weekContainer, .text {\n      font-size:13px;\n   }\n\n  .weekDayHeader
        { \n    border: 1px solid #656565;\n    border-bottom-width: 0px;\n    background-color:
        #484848; \n    color: #CDCDCD; \n    width: 130px;\n    padding-bottom: 3px;
        \n    padding-top: 4px; \n  }\n  \n  .weekDayHeaderFirst {\n    width: 150px;\n
        \ }\n\n\n.weekDiv {\n    background-color: white;\n    text-align: left;\n
        \   position: relative;\n    borde[...]
- request:
    method: get
    uri: https://web.timeedit.se/chalmers_se/db1/public/r.csv?base=c2lkPTMmaD10JnA9MjAxMjAzMTIueCUyQzIwMTIwNTE4Lngmb2JqZWN0cz0xOTIzMjQuMTg2Jm94PTAmdHlwZXM9MCZmZT0w
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: The request has succeeded
    headers:
      Content-Type:
      - text/csv; charset=UTF-8
      Etag:
      - ! '"120-1490967495-1334675755668"'
      X-Timeedit-Search:
      - 1ms
      [...]
