--- 
http_interactions: 
- request: 
    method: get
    uri: https://web.timeedit.se/chalmers_se/db1/public/objects?fr=t&im=f&l=sv&max=20&media=html&part=t&partajax=t&search_text=&sid=3&start=0&types=186
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: The request has succeeded
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      Etag: 
      - "\"773307991-1334675755668\""
      X-Timeedit-Search: 
      - 30ms
    body: 
      encoding: ASCII-8BIT
      string: "\n\n  \n  <div id=\"objectbasketitemX0\" data-id=\"192665.186\" data-name=\"1046\"  class=\"clickable2 searchObject noexpand \" >\n  <table id=\"table0\" cellspacing=\"0\" class=\"infotable infotablenormal\">\n    \n \t<td>\n \t<div id=\"info0\">\n    <div class=\"infoboxtitle\">1046</div> \n   \t<table cellspacing=\"0\" class=\"objectfieldsextra\">\n   \t</table>\n    \n\
        \t</div>\n  </td>\n  </tr></table>\n  <div class=\"infolinkdiv round hidden\">\n  <span class=\"infolinks\"><span class=\"ui-icon ui-icon-plusthick\"></span></span>\n  </div>\n  </div>\n  \n  \n  <div id=\"objectbasketitemX1\" data-id=\"192666.186\" data-name=\"1047\"  class=\"clickable2 searchObject noexpand searchObjectEven\" >\n  <table id=\"table1\" cellspacing=\"0\" class=\"infotable infotablenormal\">\n    \n \t<td>\n \t<div id=\"info1\">\n    <div class=\"infoboxtitle\">1047</div> \n   \t<table cellspacing=\"0\" class=\"objectfieldsextra\">\n   \t</table>\n    \n\
        \t[...]
[...]
- request: 
    method: get
    uri: https://web.timeedit.se/chalmers_se/db1/public/objects?fr=t&im=f&l=sv&max=20&media=html&part=t&partajax=t&search_text=HB&sid=3&start=0&types=186
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: The request has succeeded
    headers: 
      Content-Type: 
      - text/html; charset=UTF-8
      Etag: 
      - "\"-69952114-1334675755668\""
      X-Timeedit-Search: 
      - 8ms
    body: 
[...]
